{% extends 'parent.html' %}
{% from 'bootstrap/pagination.html' import render_pagination with context %}
{% block title %}{{ category.name }} - 文章列表{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>&lt;&lt;{{ category.name }}&gt;&gt;</h1>
        </div>
    </div><br>
    <div class="row">
        <div class="col-9">
            {% include 'blog/_posts.html' %}
        </div>
        <div class="col-3">
            {% include '_sidebar.html' %}
        </div>
    </div>
</div>
{% endblock %}