{% extends 'parent.html' %}
{% from 'bootstrap/pagination.html' import render_pagination with context %}
{% block title %}{{ post.title }}{% endblock %}
{% block main %}
<div class="container">
    <div class="page-header">
        <h1>{{ post.title }}</h1>
        <small>
            类别所属&nbsp;:&nbsp;<a href="#">{{ post.category.name }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
            发布日期&nbsp;:&nbsp;{{ moment(post.timestamp).format('LL')}}
        </small>
    </div><br>
    <div class="row">
        <div class = "col-9">
            <div class="row">
                <div class="col">
                    <!-- 文章正文 -->
                    {{ post.body|safe }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col" id = "comments">
                    <!-- 文章评论 -->
                    <small>
                        评论数&nbsp;:&nbsp;{{ comments|length }}
                    </small>
                    <hr>
                    {% if comments %}
                        <ul class="list-group">
                            {% for comment in comments %}
                                <li class="list-group-item">
                                    <div class="d-flex w-100 justify-cotent-between">
                                        <small data-toggle="tooltip" data-placement="top" data-delag="500" data-timestamp="{{ comment.timestamp.strftime('%Y-%m-%d%H:%M:%SZ')}}">
                                            {{ moment(comment.timestamp).fromNow() }}
                                        </small>
                                    </div>
                                    <p class="mb-1">{{ comment.body }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <small class="tip">暂无评论!!!</small>
                    {% endif %}
                     <hr>
                    <form method="post">
                        {{form.csrf_token }}
                        <div class="form-group">
                            {{form.body(class='form-control',rows=3)}}
                            {% if form.body.errors %}
                                {% for message in form.body.errors %}
                                    <small class="text-danger">
                                        {{ message }}
                                    </small>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <button class="btn btn-outline-primary" type="submit"><i class="fas fa-cloud-upload-alt"></i>&nbsp;&nbsp;评论</button>
                        </div>
                    </form>
                    {% if comments %}
                        {{ render_pagination(pagination, fragment='#comments') }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-3">
            {% include '_sidebar.html' %}
        </div>
    </div>
</div>
{% endblock %}