<!DOCTYPE html>
<html lang="en">
{# 显式地使用with context声明传人当前模板的上下文 #}
{% from 'macros/macros.html' import static_file with context %}
{% from 'bootstrap/nav.html' import render_nav_item  with context %}
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Base Title{% endblock %}</title>
    <!-- 使用宏导入静态文件 -->
    {{static_file('icon', 'images/icon/favicon.ico')}}
    {{static_file('css','css/bootstrap.min.css')}}
    {{static_file('css','css/jquery-confirm.min.css')}}
    {{static_file('css','css/all.min.css')}}
    {# --------- 引入子页面自己的css文件 --------- #}
    {% block links %}{% endblock %}
    {{static_file('js','js/jquery-3.6.0.min.js')}}
    {{static_file('js','js/popper.min.js')}}
    {{static_file('js','js/bootstrap.min.js')}}
    {{static_file('js','js/jquery-confirm.min.js')}}
    <!-- 生成执行时间渲染函数 -->
    {{ moment.include_moment(local_js=url_for('static',filename='js/moment/moment-with-locales.js')) }}
    <!-- 设置自动识别显示语言 -->
    {{ moment.locale(auto_detect=True) }}
    {# --------- 引入子页面自己的JavaScript文件 --------- #}
    {% block scripts %}{% endblock %}
    {# --------- 编写子页面自己的css样式 --------- #}
    {% block styles %}{% endblock %}
    {% endblock %}
</head>
<body>
    <header style="margin-bottom:65px;">
        {% block header %}
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <div class = "container">
                    <a class="navbar-brand" href="{{url_for('blog.index')}}">Blog</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          {{ render_nav_item('blog.index', 'Home') }}
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            {{ render_nav_item('board.index', 'Board') }}
                        </li>
                      </ul>
                      {% if session['logined'] %}
                        <span class="navbar-text">
                            {{ admin.blog_title|default('My Blog') }}
                            ({{ admin.blog_sub_title|default('My blog sub title !!!')}})
                        </span>&nbsp;&nbsp;
                        <a href="#" class="btn btn-outline-secondary"><i class="fas fa-sign-out-alt"></i></a>
                      {% else %}
                        <a href="{{ url_for('login')}}" class="btn btn-outline-secondary"><i class="fas fa-sign-in-alt"></i></a>
                      {% endif %}
                    </div>
                </div>
            </nav>
        {% endblock %}
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
    <script>
        $(function(){
            //alert('parent is ready')
        })
        {# --------- 引入子页面JavaScritp变量 --------- #}
        {% block variable %}{% endblock %}
        {% block ready %}{% endblock %}
        {# --------- 引入子页面自己的JavaScript函数 --------- #}
        {% block function %}
        function allAlert(){
           $.alert({
               type:'red',
               //icon:'fa fa-info',
               title:'提示',
               content: 'I Am Ready To Go！',
               onClose:function(){

               }
           })
        }
        function allClick(){
            alert('All Click!!!')
        }
        {% endblock %}
    </script>
</body>
</html>